*.suo
*.vcxproj.user
*.bak
*.dep
*.ewd
*.*~
*.aps
*.tmp
*.pro.user
.vs/
_build/
_temp/
_doc/
GeneratedFiles/
build/
ipch/
cmake-*
*.sdf
*.opensdf
output.txt
sh.exe.stackdump
*.tlog
*.VC.db
*.VC.VC.opendb
*.vahashtags
.vs
*.qm
workspace.xml
tasks.xml